<p id="notice"><%= notice %></p>

<p>
Refunded: <%= @payment.refunded? %>
<br />
Refundable: <%= @payment.refundable? %>
</p>

<p>
Card Token: <%= @payment.stripe_token %>
<br />
Charge Id: <%= @payment.stripe_charge_id %>
<br />
Stripe Refund Id: <%= @payment.refund_id %>
</p>

<% if @payment.refundable? %>
  <%= link_to 'Refund', refund_payment_path(@payment), method: :put %> |
<% end %>

<%= link_to 'Back', payments_path %>
